* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f4f4f4;
    color: #333;
}

.dashboard {
    background-color: #fff;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 250px 1fr;
    height: 100vh;
}


.sidebar {
    background-color: #007bff;
    font-size: 24px;
    font-weight: 700;
    color: #fff;
    padding: 20px;
    width: 250px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.nav-links {
    display: flex;
    font-size: 18px;
    font-weight: 700;
    flex-direction: column;
    gap: 10px;
}

.nav-item {
    padding: 8px 0;
}

.nav-item-divider {
    height: 20px;
    margin: 10px 0;
}
.main-content {
    padding: 20px;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: auto auto 1fr;
    gap: 20px;
}


.header {
    background-color: #fff;
    padding: 15px 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 20px;
    grid-column: 1 / span 3;
    grid-row: 1;
    width: 100%;
}

.greeting-section {
    display: grid;
    grid-template-columns: auto 2fr auto;
    grid-template-rows: auto;
    gap: 20px;
    align-items: center;
    padding: 20px;
    background-color: #e0f7fa;
    border-radius: 8px;
    grid-column: 1 / 3;
}

.avatar {
    grid-column: 1;
}

.greeting-text {
    grid-column: 2;
    font-size: 18px;
    font-weight: 500;
    white-space: normal;
}

.actions {
    grid-column: 3;
    display: flex;
    gap: 10px;
    justify-content: flex-end;
}

.projects-section {
    background-color: #fff;
    padding: 15px;
    border-radius: 8px;
    grid-column: 1;
    grid-row: 3;
    display: flex;
    justify-content: space-around;
    gap: 10px;
    flex-wrap: wrap;
}

.project-card {
    background-color: #fff;
    border: 1px solid #ccc;
    border-left: 5px solid #f1c40f;
    border-radius: 8px;
    flex: 0 1 calc(50% - 20px); /* forces two cards per row */
    margin-bottom: 10px;
    position: relative;
}

.icons-container svg {
    height: 24px;
    width: 24px;
    fill: black;
}
.icons-container {
    position: absolute;
    bottom: 10px;
    right: 10px;
    display: flex;
    gap: 10px;
}
.announcements-section {
    background-color: #fbe9e7;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 8px;
    grid-column: 2;
    grid-row: 3;
}

.trending-section {
    background-color: #f3e5f5;
    padding: 15px;
    border-radius: 8px;
    grid-column: 2;
    grid-row: 4;
}

.announcements-section, .trending-section {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 15px;
    background-color: #fff;
    border-radius: 8px;
}

.announcements-card, .trending-card {
    padding: 10px 0;
}

.announcements-card:not(:last-child), .trending-card:not(:last-child) {
    border-bottom: 1px solid #ccc;
}

.project-card, .announcments-card, .trending-card {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
}

.header, .sidebar, .logo {
    font-size: 24px;
    font-weight: 700;
}
.sidebar .nav-item {
    font-size: 16px;
    font-weight: 400;
}
.projects-section h2, .announcements-section h2, .trending-section h2 {
    font-size: 20px;
    font-weight: 700;
}
.project-card h3 {
    font-size: 18px;
    font-weight: 700;
}

button {
    font-size: 14px;
    background-color: #007bff;
    border: none;
    padding: 10px 20px;
    font-size: 14px;
    font-weight: 700;
    border-radius: 8px;
    text-transform: uppercase;
    cursor: pointer;
}

.search-bar {
    display: flex;
    align-items: center;
    width:50%;
    max-width: 75%;
    padding: 5px 10px;
    margin-right: 20px;
}

.search-bar svg {
    flex-shrink: 0;
    margin-right: 10px;
    width: 24px;
    height: 24px;
}

.user-info {
    display: flex;
    gap: 10px;
}

.search-bar input[type="text"] {
    flex-grow: 1;
    border: none;
    outline: none;
    padding: 0;
    border-radius: 8px;
    background-color: #eceff1;
    border: 1px solid #ccc;
    height: 25px;
}

.logo svg {
    height: 32px;
    width: 32px;
    fill: white;
    display: inline-block;
    vertical-align: bottom;
    margin-right: 10px;
}
.nav-item svg {
    height: 24px;
    width: 24px;
    fill: white;
    display: inline-block;
    vertical-align: bottom;
    margin-right: 10px;
}

.user-info svg {
    height: 24px;
    width: 24px;
    margin-right: 10px;
}